{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Log-in
{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    <br>
    {% if form.errors %}
        <div class="p-3 mb-2 bg-danger text-white">Your username or password didn't match. Please try again. <a
                href="{% url "login" %}"><p class="text-info">Log-in</p></a></div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-3">
                    {% csrf_token %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            {% render_field form.username class="form-control" id="Username" %}
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            {% render_field form.password class="form-control" id="Password" %}
                        </div>
                        <button type="submit" class="btn btn-primary">Log-in</button>
                        <hr/>
                        <p><a href="{% url "password_reset" %}">Forgotten yor password?</a></p>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}